{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "no-constant-condition": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-console": ["warn", { "allow": ["tron"]}],
    "global-require": "off",
    "semi": [2, "never"],
  },
}
